:root {
  --primary-color: #0099ff;

  --secondary-color: #354055;
  --secondary-color-hover: #404565;
  --secondary-color-active: #455075;

  --primary-background: #141414;
  --secondary-background: #161618;
  --navigation-height: 64px; 
}