.loading {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: rotateZ(0deg);
  border: 5px var(--primary-color) solid;
  border-top: 5px transparent solid;
  animation: a_lod 800ms linear 0s infinite forwards;
}

@keyframes a_lod {
  to {
    transform: rotateZ(360deg);
  }
}