.radio_box {
  gap: 8px;
  width: 100%;
  height: 56px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0px 12px;
  border-radius: 5px;
  flex-direction: row;
  box-sizing: border-box;
  border: 2px #999 solid;

  .circle {
    width: 14px;
    height: 14px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px #999 solid;

    .thumb {
      width: 75%;
      height: 75%;
      border-radius: 50%;
      transform: scale(0);
      transition: all 300ms;
      background-color: #999;
    }
  }

  .label {
    font-size: 14px;
    color: #fff;
  }
}

.radio_box:hover {
  background-color: #fff1;
}

.radio_box:active {
  background-color: #fff2;
}

.unselected {
  border: 2px #999 solid;
}

.unselected:active {
  border: 2px #999 solid;
}

.selected {
  border: 2px var(--primary-color) solid;

  .circle {
    border: 2px var(--primary-color) solid;

    .thumb {
      transform: scale(1);
      background-color: var(--primary-color);
    }
  }
}

.selected:active {
  border: 2px var(--primary-color) solid;
}

.tablet {
  .label {
    font-size: 16px;
  }
}